
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">AngularJS 2</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="nav-item"><a class="nav-link" >Home</a></li>
              <li class="nav-item"><a class="nav-link" >About</a></li>
              <li class="nav-item"><a class="nav-link" >Contact</a></li>
              <li class="nav-item"><a class="nav-link" >Mobiles</a></li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      Movies<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                      </ul>
              </li>

          </ul>
      </div>
  </div>
</div>

<div class="container body-content" style="padding-top:70px">
  <!--Begin: Your components load here -->
  <router-outlet></router-outlet> 
  <!--End -->
  <hr/>
  <footer style="float:bottom">
      <p>&copy; Srinivas Manthri</p>
  </footer>
</div>